body{
  font-family:".HiraKakuInterface-W1",'Lucida Grande',
  'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
  Meiryo, メイリオ, sans-serif;
}
li, ul{list-style:none;}
.name{font-size:1.8em;}
.tel,.address{font-size: 1.2em;}
a { text-decoration: none;}
a:hover { text-decoration: none;}
.date{
  font-size:1.4em;
  position:fixed; z-index:100;
  text-align: center;
  width: 100%;
  color: #7f8c8d;
}
.name{font-size:1.5em;}
.check{
  width: 100%;
  text-align: center;
}
.panel-title{
  color: #f5f5f5;
  font-size: 4.5em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.panel-heading{
  display:table;
  width: 100%;
}
.panel-heading.c1{
  background-color: #D5EAD8;
}
.panel-heading.c2{
  background-color: #C1DB81;
}
.panel-heading.c3{
  background-color: #BCE2E8;
}
.panel-heading.c4{
  background-color: #A1CBED;
}
.panel-heading.c5{
  background-color: #9FD9F6;
}
.panel-heading.c6{
  background-color: #85CBBF;
}